@using System.Web.Optimization

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="x-ua-compatible" content="IE=9">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @*<link rel="shortcut icon" href="@Url.Content("~/Content/images/favicon.ico")" type="image/x-icon"/>*@
    @Styles.Render("~/bootstrap/css")
    @Styles.Render("~/shared/css")
    <style>
        .loader-gif{
            background-image: url("@Url.Content("~/Content/Images/loader.gif")");
        }
    </style>
</head>
<body>
    <div class="outer">
        <div class="middle">
            <div class="col-lg-4 col-md-4 col-sm-3"></div>
            <div class="col-lg-4 col-md-4 col-sm-6 inner">
                @RenderBody()
            </div>
            <div class="col-lg-4 col-md-4 col-sm-3"></div>
        </div>
    </div>

    @Scripts.Render("~/jquery/js")
    @Scripts.Render("~/bootstrap/js")
    @RenderSection("scripts", required: false)
</body>
</html>
